header {
	position: fixed;
	width: 100%;
	z-index: 2;
}

.header-container {
	max-width: 2200px;
	margin: 0 auto;
  padding-left: 130px;
	padding-right: 130px;
}

@media (max-width: 1600px) {
	.header-container {
		padding-left: 70px;
	  padding-right: 70px;
	}
}

.header-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 0;

	.logo-item-link {
		width: 55px;
	}

	.area-items-content {
		display: flex;
		align-items: center;

		.area-item {
			display: block;
			list-style: none;

			.area-item-link {
				display: block;
				padding: 5px 13px;
				color: #fff;
				font-size: 15px;
				font-style: normal;
				font-weight: 500;
				line-height: 22px;
				transition: 0.3s ease-in-out;
				text-decoration: none;
			}

			.area-item-link-bright {

				&:hover {
					color: $bright;
				}
			}

			.area-item-link-dark {
				
				&:hover {
					color: $dark;
				}
			}
		}
	}
}



