.guide-promo-main-title {
	margin-bottom: 70px;
	color: $light;
	font-size: calc(13px + 1.5vw);
	font-weight: $fontStrong;
	text-align: center;
}

.guide-promo-section {
	display: flex;
	align-items: center;
}

.guide-promo-image {
	flex: 0 0 50%;
	max-width: 50%;
	
	img {
		height: 30vw;
	}
}

@media (min-width: 1200px) {
	.guide-promo-text-content {
		padding-left: 70px;
	}
}

.guide-promo-title {
	margin-bottom: 50px;
	color: $light;
	font-size: calc(13px + 1vw);
}

.become-guide-wrapper {
	padding: 70px 0;
	overflow: hidden;

	.image-text-layout {
		margin-bottom: 70px;
	}
}

.complete-text-navigate {
	display: flex;
	justify-content: flex-end;

	a {
		width: 38%;

		svg {
			display: block;
			width: 100%;

			path {
				transition: all 0.3s ease-in-out;
			}

			&:hover {

				path {
					fill: $bright;
				}
			}
		}
	}
}

.home-equipments-wrapper { 
	padding: 70px 0;

	.equipments-content {
		max-width: 75%;

		.equipments-title {
			margin-bottom: 70px;
		}
	}
}

.equipments-content {
	margin: 0 auto;
}

.equipments-logo-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	& > .equipments-logo:nth-last-child(-n+4) {
		margin-bottom: 0;
	}
}

.equipments-title {
	color: $dark;
	font-size: calc( 30px + 1vw);
	font-weight: 600;
	text-align: center;
}

.equipments-logo {
	max-width: 20%;
	margin-bottom: 70px;
	padding-left: 15px;
	padding-right: 15px;
}

.home-dark-pattern,.home-bright-pattern {
	width: 100%;

	img {
		display: block;
	}
}

.home-dark-pattern {
	transform:translateY(-1px);
}

.home-bright-pattern {
	transform:translateY(1px);
}

.blogMedia-banner-block {
	position: relative;
	padding-top: 250px;
	padding-bottom: 50px;
}

.blogMedia-banner {
	width: 50%;
	padding: 0 40px;
}

.homeStarImg {
	position: absolute;
	bottom: 50px;
	right: 100px;
	width: 20vw;
}

.become-trigger {
	width: 53%;

	img {
		display: block;
	}
}

	.become-guide-left, .become-guide-right {
		 display: flex;
	} 

	.become-guide-left {
		 justify-content: flex-start;
	}

	.become-guide-right {
		justify-content: flex-end;
		background-color: $bright;
	}
		
	


