.swiper {
	height: 100%;
}

.home-banner-slider {
	.swiper {
		.swiper-button-prev {
			left: 50px;
			width: auto;
		}
		
		.swiper-button-next {
			right: 50px;
			width: auto;
		}
	}
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-prev::after {
	display: none;
}

.home-banner-slider {
	width: 100%;
	height: calc(100vh - 103px);

	img {
		height: 100%;
	}
}