.swiper {
	height: 100%;
}

.blog-swiper {
	
	.swiper-slide {
		padding-right: 70px;
	}
}

.swiper-button-prev, .swiper-button-next {
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.07);
	}
}
 

.home-swiper {

	.swiper-button-prev {
		left: 50px;
		width: auto;
	}
	
	.swiper-button-next {
		right: 50px;
		width: auto;
	}
}

.blog-swiper {

	.swiper-button-prev, .swiper-button-next {
		width: 33px;
	}
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-prev::after {
	display: none;
}

.home-banner-slider {
	width: 100%;
	height: calc(100vh - 86px);

	img {
		display: block;
		height: 100%;
	}
}

.certificate-swiper {

	.swiper-wrapper {
		align-items: center;
	}

	.swiper-button-disabled {
		display: none;
	}
}

